form {
    display: flex;
    flex-direction: column;
}

form div {
    margin: 10px;
}

.content-area {
    display: flex;
    width: 100%;
}

textarea {
    height: 60vh;
    flex: 6 2 ;
    margin-right: 20px;
}

.content-label {
    width: 10%;
    flex: 1 1 ;
    margin-right: 10px;
    min-width: 60px;
}

button {
    width: 50%;
    height: 2em;
    align-self: center;
}

